$bg-vang:#ffcb05;
$cl-xanh:#2b328c;
@mixin media($max-width:768px){
  @media screen and (max-width:$max-width){
    @content
  }
}

/*CUSTOMIZE 5 column*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

header{
  position:relative;
  .topmenu{
    margin-top:20px;
    .navbar-default a{
      color: $cl-xanh;
      font-weight:600;
    }
    ul.dropdown-menu{
      min-width:250px;
      li{
        padding:10px 0;
        a{
          font-size:14px;
          text-transform: uppercase;
        }
      }
    }
    @include media(){
      margin-top:0;
      .nav{
        li{
          padding:6px 0;
        }
      }
    }
  }
  @include media(){
    padding:0;
    .logo-flex{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      padding:15px 0;
      .logo-box{
        margin: 0;
        flex-grow:1;
        img{
          max-width:100px;
        }
      }
      .navbar-header{
        flex-grow:1;
        .navbar-toggle .icon-bar{
          background: white;
        }
      }
    }
  }
}

/*RESET 2017*/
section.banner{
  padding:0 !important;
}

/*HOME PAGE*/
section.no-pb{
  padding-bottom: 0 !important;
}
section h2{
  margin-bottom:40px;
  padding-bottom:30px;
  position:relative;
  text-align: center;
  line-height:40px;
  &.m-haft{
    margin-bottom:20px;
  }
  &:after{
    content:'';
    position: absolute;
    display:block;
    width:200px;
    height:2px;
    background:$cl-xanh;
    bottom:0;
    left:50%;
    margin-left:-100px;
  }
  span{
    display:block;
    @media screen and (max-width:768px){
      display: inline-block;
    }
  }
  @include media(){
    font-size:23px;
    line-height:30px;
    padding-bottom:20px;
    margin-bottom:15px;
  }
}

/*EACH SECTION*/
section{
  img.img-inner-section{
    margin:0 auto 20px;
  }
  p.title-inner-section{
    font-size:14px;
    text-transform: uppercase;
    text-align:center;
    color:$cl-xanh;
    font-weight:600;
  }
  @include media(){
    .each{
      margin-bottom:20px;
    }
  }
}
/*TESTIMONIAL*/
.testi-content{
  .each-testi{
    margin-bottom:30px;
  }
}

/*DISCOVER*/
.discover{
  ul.to-local{
    text-align: center;
    @include media(){
      margin-bottom: 5px;
    }
    li a{
      font-size:20px;
      @include media(){
        font-size:14px;
      }
    }
  }
  .discover-container{
    div.img-hack{
      background-size:cover;
      &.hack-style01{
        width:100%;
        max-width:235px;
        height:160px;
      }
      &.hack-style02{
        width:100%;
        max-width:375px;
        height:250px;
      }
    }
  }
}

/*WHYCHOOSEIAL*/
.whychooseila{
  padding-bottom:0 !important;
  .whychooseila-container{
    padding-bottom:40px;
    border-bottom:2px solid $cl-xanh;
  }
}


/*FOOTER*/
.each-location{
  min-height:90px;
  @include media(){
    min-height:auto;
    margin-bottom:20px
  }
}

/*END*/


/*DESTINATION PAGE*/
.content-destination{
  .box-destination-header{
    margin-bottom:10px;
    h4{
      margin:0;
      padding:0;
      margin-bottom:10px;
    }
  }
  .bg-destination{

  }
}

/*PROMOTION PAGE*/
.promotion-content{
  .promotion-container{
    margin-bottom:30px;
    .promotion-box{
      padding:8px 15px;
      text-align: center;
      h3{
        margin:0;
        padding:0;
        margin-bottom:20px;
        text-transform: capitalize;
      }
    }
  }
}
.promotion-bar{
  background: -moz-linear-gradient(left, #2b328c 0%, #2b328c 51%, #ffcb05 54%, #ffcb05 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2b328c 0%,#2b328c 51%,#ffcb05 54%,#ffcb05 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2b328c 0%,#2b328c 51%,#ffcb05 54%,#ffcb05 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  .promotion-bottom{
    margin-bottom:20px;
    background-image:url(../images/img-promotion-02.png);
  }
}

section.promotion-bar{
  padding:0 !important;
  margin-bottom:20px;
  background: -moz-linear-gradient(left, #2b328c 0%, #2b328c 51%, #ffcb05 54%, #ffcb05 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #2b328c 0%,#2b328c 51%,#ffcb05 54%,#ffcb05 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #2b328c 0%,#2b328c 51%,#ffcb05 54%,#ffcb05 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  .promotion-bottom{
    margin-bottom:0;
    background-image:url(../images/img-promotion-02.png);
  }
}

/*TESTIMONIAL PAGE*/
section.testtimonial{
  .testimonial-container{
    display: flex;
    @include media(992px){
      flex-direction: column;
      overflow:hidden;
    }
    .left-testimonial{
      flex:2;
      overflow:hidden;
      .testtimanial-slider-item{
        max-width: 50%;
        top:auto;
        bottom:30px;
        padding:10px;
        background:rgba(255,255,255,0.3);
        text-shadow:none;
        @include media(){
          max-width:90%;
        }
        h4{
          color:$cl-xanh;
          margin:0;
          padding:0;
          margin-bottom:10px;
        }
        @include media(){
          blockquote{
            font-size:12px;
          }
        }
      }
      @include media(992px){
        flex:1;
        margin-bottom:20px;
      }
    }
    .right-testimonial{
      flex:1;
      overflow:hidden;
      padding-left:30px;
      @include media(991px){
        padding-left:0;
      }
      @include media(){
        padding-left:0;
      }
      .testtimonial-list{
        padding:0;
        overflow:hidden;
        .testtimonial-list-slice{
          overflow:hidden;
          height:582px;
          @include media(992px){
            height:auto;
          }
        }
        h4{
          margin:0;
          padding:0;
          margin-bottom:10px;
          @include media(992px){
            text-align:center;
          }

        }
        .testtimonial-list-item{
          margin-top:0;
          display: flex;
          justify-content: flex-start;
          .wrap-img{
            flex:0 0 120px;
            padding-top:10px;
          }
          .wrap-content-slider{
            flex:1;
            padding-top:10px;
            @include media(){
              text-align:left;
            }
            h4{
              margin-bottom:10px;

            }
            p{
              text-align: left;
              font-size:14px;
              font-weight:400;
            }
          }
        }

      }
      @include media(992px){
        flex:1
      }
    }
  }
}

/*COURSE DETAIL PAGE*/
section.course-detail-main{
  h2{
    margin-bottom:5px;
  }
  p.title-sub{
    text-align:center;
    margin-bottom:30px;
  }
}

/*FOOTER*/
footer{
  .footer-content-container{
    display:flex;
    .col{
      padding:0 15px;
      flex:1;
      border-right:1px solid $cl-xanh;
      &:last-child{
        border-right:0;
      }
    }
    @include media(){
      flex-direction:column;
      .col{
        border-right:none;
      }
    }
  }
}
